.poweredByImage{
    width: 100px;
    height: auto;
    text-align: center;
}

.socialNetworksContainer{
    text-align: center;
}

.acceptedPaymentMethodContainer{
    text-align: center;
}

.poweredBy{
    text-align: center;
}
