
@media only screen and (max-width: 3000px) {
    .listContainer{
        position: fixed;
        background-color: #303030;
        z-index:1;
        top: 64px;
        left: 0;
    }
}

@media only screen and (max-width: 600px) {
    .listContainer{
        position: fixed;
        background-color: #303030;
        z-index:1;
        top: 84px;
        left: 0;
    }
}

.listItem :global(.vtex-button) {
    color: #fff;
    background-color: transparent;
}

.listItemActive :global(.vtex-button) {
    color: #59ff00;
    border-bottom: 3px solid #59ff00;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;   
}