/*Cor do Header*/
.container {
    background-color: #212121;
}

.stretchChildrenWidth{
    text-align: center;
    color: #fff;
    width: 50%;
}

.whatsapp{
    padding: 10px 5px 25px 5px;
    vertical-align: middle;
}

.linkwhatsapp{
    text-decoration: none;
}

.botaowhats{
    color: #59ff00;
    vertical-align: middle;
}

.logowhats{
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.homepage{
    color: #fff;
}